@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Raleway:ital,wght@0,400;0,700;1,100;1,500&display=swap');
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

  /* font-family: 'Open Sans', sans-serif;
     font-family: 'Raleway', sans-serif;*/


 /* html{
    font-size: 62.5%;
}  */

header{
    background-image: linear-gradient(to left, #bfd1ecbb, #8caebc3a, #6a8a8991, #52655a88, #3d413460);
    /* background-color: rgba(128, 128, 128, 0.24); */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    align-content: center;
    margin: auto 2rem auto 2rem;
}

.imagen{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.imagen h2{
    font-family: 'Raleway', sans-serif;
    font-size: .9375rem;
    font-weight: 500;
    color: beige;
    text-shadow: .125rem -0.125rem .0625rem gray;
    gap: .3125rem;  
    padding-right: .625rem;
    justify-content: flex-end;
}

.imagen img {
width: 9.375rem;
border: 2px solid rgb(5, 100, 104);
border-radius: 50%;
display: flex;
}

.items{
   display: flex;
   margin-left: auto;
   list-style: none;
   gap: 1.875rem;
   justify-content: flex-end;
   align-items: flex-end;
   align-content: center;
}

.items-barra a{
    display: flex;
    justify-content: flex-end;  
    align-items: flex-end;
    align-content: center;
}

/* NO PUEDO CORRER LOS ELEMENTOS DE LA BARRA MAS A LA DERECHA POR MAS QUE LE PONGA A LA ETIQUETA PADRE
Y A LA MISMA ETIQUETA LI EL DISPLAY  FLEX Y FLEX END */

.items li a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    color: beige;
    border: 3px outset rgba(0, 0, 0, 0.658);
    border-radius: 10px;
    /* background-image: linear-gradient(to right top, #051937, #111e4d, #2a2061, #481b70, #6a057a); */
    background-color: #898021b7;
    box-shadow: -1.25rem -0.3125rem .625rem gray;
    padding: .125rem .3125rem;
}


  /*fin de barra superior */

     .body-index{
        background-image: url(../assets/img/fondo-80.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
     } 
    
.carrusel{
    width: 100%;
    height: 15%;
    overflow: hidden;
    padding-top: 5px;
}

.carrusel img{
width: 100%;
height: 40vh;
border: .0625rem solid black;
overflow: hidden;
object-fit: cover;
display: flex;
}

.carrusel img{
    object-fit: cover;
    margin-right: 1.25rem;
    align-self: flex-end;
}

.carrusel h2{
    width: 17%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
    color: beige;
    border: .25rem outset rgba(0, 0, 0, 0.658); 
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.877);
    box-shadow: -1.25rem -0.3125rem 1.25rem gray;
    padding: .125rem;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 37%;
}

.icono img{
    width: 2.5rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 44%;
 }

.imagenes-principales{
width: 100%;
    
}

.position{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding-top: 1.25rem;
}

.imagenes-principales img{
    width: 40%;
    height: 40vh;
    border: .125rem solid  rgba(29, 194, 172, 0.096);
    border-radius: .9375rem;
    background-color: rgba(104, 112, 104, 0.308);
    object-fit: cover;
    overflow: hidden;  
}


.position h2 a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
    color: beige;
    text-decoration: none;
    border: .25rem outset rgba(0, 0, 0, 0.658); 
    border-radius: 40px;
    background-color: rgba(7, 100, 88, 0.877);
    box-shadow: -1.25rem -0.3125rem 1.25rem gray;
}
   /* PLANTAS DE EXTERIOR */ 
.plantas-e{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    z-index: 2;
    top: 85%;
    left: 21%;
}

/* PLANTAS DE INTERIOR */
.plantas-i{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    z-index: 2;
    top: 85%;
    right: 21%;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: .625rem;
}

.cards-products{
    width: 18.75rem;
    height: 26.4375rem;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem grey;
    overflow: hidden;
    text-align: center;
}

.cards-products .texto h2{
color: white;
font-size: 1.125rem;
}

.cards-products .texto p{
    text-align: left;
    font-size: 1rem;
    color: white; 
}

.cards-products .color{
    text-align: left;
    font-size: 1rem; 
    color: #7AA874;
    text-decoration: underline;
}

.texto .link {
    color: rgba(59, 128, 231, 0.781);
}

.card-img{
    overflow: hidden;
    width: 18.75rem;
    height: 12.5rem;
}

.card-img img{
  overflow: hidden;
  object-fit: contain;
  width: 100%;
  height: 100%;
} 

.button{
    background-color: #7C96AB;
    color: black;
    border-radius: .4375rem;
    padding: .25rem .1875rem;
    font-family: 'Raleway', sans-serif;
    font-size: .75rem;
    font-weight: 500 bold; 
}

.button:hover{
    background-color:black;
    color: #7C96AB;
}

.flecha-siguiente a img{
    width: 1.875rem;
    display: flex;
    flex-wrap: nowrap;
    position:absolute;
    top: 60%;
    left: 97%;    
}

.flecha-atras a img{
    width: 1.875rem;
    display: flex;
    flex-wrap: nowrap;
    position:absolute;
    top: 60%;
    right: 97%; 
}

 /* PLANTAS DE HUERTA */
.huerta{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    z-index: 2;
    top: 130%;
    left: 21%; 
}

 /* CACTUS Y SUCULENTAS */

.cactus{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    z-index: 2;
    top: 130%;
    right: 20%; 
}

.elementos{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.75rem;
    list-style: none;
}

.elementos h2{
    justify-content: space-between;
}

.elementos-uno a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: beige;
    border: .25rem outset rgba(0, 0, 0, 0.658); 
    border-radius: 2.5rem;
    background-color:  #470d21cc;
    /* background-image: linear-gradient(to right top, #051937, #111e4d, #2a2061, #481b70, #6a057a); */
    box-shadow: -1.25rem -0.3125rem -0.0625rem gray;
    text-align: center;
    padding: .125rem .3125rem;

}
.elementos-uno a img{
    width: 1.25rem;
} 

.elementos-dos a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: beige;
    border: .25rem outset rgba(0, 0, 0, 0.658); 
    border-radius: 2.5rem;
    background-color: #470d21cc;
    /* background-image: linear-gradient(to right top, #051937, #111e4d, #2a2061, #481b70, #6a057a); */
    box-shadow: -1.25rem -0.3125rem -0.0625rem gray;
    text-align: center;
    padding: .125rem .3125rem;
}
.elementos-dos a img{
    width: 1.25rem;
  
}

.elementos-tres a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: beige;
    border: .25rem outset rgba(0, 0, 0, 0.658); 
    border-radius: 2.5rem;
    background-color: #470d21cc;
    /* background-image: linear-gradient(to right top, #051937, #111e4d, #2a2061, #481b70, #6a057a); */
    box-shadow: -1.25rem -0.3125rem -0.0625rem gray;
    text-align: center;
    padding: .125rem .3125rem;
}
.elementos-tres a img{
    width: 1.25rem;
 
}

 .formulario{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 1.25rem;
    font-weight: 300;
    color: black; 
    background-color: aliceblue;
    border: .125rem solid rgb(17, 32, 9);
} 
/* En registrate me queda una parte del formulario que quisiera que quede abajo asi se lee completo. ej: 
contraseña: y el recuadro al lado no debajo como quedó 
en Contactanos me pasa lo mismo con términos y condiciones*/

.recuadro{
    height: 15vh;
    border: .125rem solid rgb(17, 32, 9);

}

.flecha a img{
    display: flex;
    flex-wrap: wrap;
    width: 3.125rem;
    padding: .125rem;
    position:relative;
    left: 48%;
}
/* PROYECTO REFORESTACIÓN */

.container-clima{
    display: flex;
    flex-flow: wrap;
    padding-top: .625rem;
} 

.container{
    display: flex;
    flex-wrap: wrap;
    width: 27.5rem;
    height: 18.75rem;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: .625rem;
    box-shadow: .3125rem .3125rem .3125rem black;
    overflow: hidden;
    text-align: center;
    
}

.container-img{
    display: flex;
    overflow: hidden;
    width: 27.5rem;
    height: 10.75rem;
    background-color: #FEFCF3;
    justify-content: center;
   
}
.container-img img{
    overflow: hidden;
    object-fit: contain; 
}

.container-texto{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.875rem;
    background-color:rgba(19, 13, 13, 0.952);
    text-align: center;
    justify-content: center;
    column-gap: 1.875rem;
    } 

    .container-texto{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-left: 1.25rem;
    }

    .container-descripcion{
        display: flex; 
        flex-wrap: wrap;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        text-align: center;
        justify-content: flex-end;
        margin-top: 1.125rem;
        padding-right: 1.125rem;
    }

.container-texto2{
        display: flex;
        flex-wrap: wrap;
        color: white;
        width: 7.25rem;
        justify-content: center;
        text-align: center;
        background-color: #472637;  
        }    
        
    .container-texto2 h4{
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 100;
        padding-top: 1.875rem;
    } 

/* fin de main */

.pie{
    /* background-image: linear-gradient(to left, #bfd1ecbb, #8caebc3a, #6a8a8991, #52655a88, #3d413460); */
    width: 100%;
    background-color: #c2b95741;
}

.redes-contacto h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    color: beige;
    text-decoration: underline;
}

.redes-contacto a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    
}

.redes-contacto img{
 width: 2.5rem;
}


.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 18.75rem);
    grid-template-areas: 
    "breve-texto   direccion"
    "redes contacto  "
    ;
}

.breve-texto{
grid-row: 1;
grid-area: breve-texto;
color: white;
font-family: 'Raleway', sans-serif;
font-size: 1.25rem;
font-weight: 400;
background-color:#91871dc7;
}

.redes-contacto{
    display: grid;
    grid-template-areas: 
    "breve-texto   direccion"
    "redes contacto  "
    ;
    grid-row-start: 2;
    align-items: end;
    gap: 1.25rem;
    background-color:  #c2b95741;
}

.redes-contacto .redes h3 a{
    grid-area: redes;
}

.redes-contacto .contacto h3 a{
    grid-area: contactos;
  
}

.direccion{
    display: grid;
    grid-area: direccion;
    justify-content: center;
}

.direccion ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 100;
    color: beige;
    list-style: none;
    text-decoration:underline;
   
}

@media(max-width:1024px){
    .cactus{
        top: 123%;
        right: 16%;
    }
    .huerta{
        top: 123%;
        right: 10%;
    }

    .plantas-e{
        top: 81%;
        right: 18%;

    }

    .plantas-i{
        top: 81%;
        right: 18%;
    }
    .carrusel h2{
        top: 35%;
        left: 42%;
        text-align: center;
        margin: .125rem;
        padding: .0625rem;
}
}

@media(max-width:768px){

.breve-texto{
    overflow: auto;
}

.direccion iframe{
  width: 21.875rem; 
}
}

@media(max-width:425px){
    
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 18.75rem);
        grid-template-areas: 
        "direccion"
        "contacto "
        "breve-texto"
        ;
    }
}
@media(max-width:320px){
    
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 18.75rem);
        grid-template-areas: 
        "direccion"
        "contacto"
        "breve-texto"
        ;
    }

    .direccion iframe{
        width: 18.75rem; 
        overflow: auto;
      }

      .breve-texto{
        font-size: 1.5625rem;
      }

      .redes-contacto h3{
       font-size: 1.5625rem; 
       }
}