@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Raleway:ital,wght@0,400;0,700;1,100;1,500&display=swap');
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

  /* font-family: 'Open Sans', sans-serif;
     font-family: 'Raleway', sans-serif;*/

/* QUISE APLICAR COMO FONDO DE PANTALLA UNA IMAGEN QUE QUEDE BASTANTE TRANSPARENTE
Y QUE LAS IMAGENES DE ARRIBA QUEDARAN NORMALES PERO NO LO LOGRÉ y PONER COLORES ARRIBA DE LA 
IMAGEN PERO NO ME LOS TOMA (PREGUNTAR COMO SE HACE)*/

/* No agregué los iconos de redes, contacto, top y registrate porque no se como hacerlo y ademas
no sé si se ma va a superponer con las demas imágenes */


html{
    font-size: 62.5%;
}

.body-index{
    background-image: url(../assets/img/fondo-80.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
    /* background-size: cover; si lo aplico me corta la imagen en el footer; estimo es por el tamaño de
    la misma*/
    
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: beige;
    text-shadow: 5px -5px 2px gray;
}

.imagen img {
height: 120x;
width: 120px;
}

.logo {
    font-family:'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: beige;
}

.color-inicio{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: beige;
}

.color-inicio-dos a{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: beige;
}


     /*fin de barra superior */


.imagenes-carrusel h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: beige;
}

.carrusel img{
 width: 100%;
 height: 40vh;
 
}

.imagenes-principales div h2 a{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: beige;
}
.imagenes-principales img{
    width: 40%;
    height: 40vh;
}

.color-elementos a{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: beige;
}

.elementos a{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: beige;
}

.titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: rgb(209, 206, 19);
}

.Descripcion{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: beige;
}

.cuidados{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: beige;
}

 .formulario{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 15px;
    font-weight: 300;
    color: beige; 
} 
/* En registrate me queda una parte del formulario que quisiera que quede abajo asi se lee completo. ej: 
contraseña: y el recuadro al lado no debajo como quedó 
en Contactanos me pasa lo mismo con términos y condiciones*/

.recuadro{
    height: 10vh;
}

.flecha a img{
    height: 20vh;
    width: 90px;
}

/* fin de main */


.redes-contacto div h3{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: beige;
}

.redes-contacto div a{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(13, 202, 202);
}

.direccion div ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: beige;
}






